/*
   ? Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

/* 
   ? HTML RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
/*
    ? My Main CSS
	- Try to implement Mobile First Approach
*/
* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
html {
	scroll-behavior: smooth;
}
body, header, navbar-element {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
}
main {
	min-height: 100vh;
}

/*
    ? navbar
*/
.navbar, .navbar-menu, .navbar-item-link {
	display: flex;
}
.navbar {
	top: 0;
	position: fixed;
	padding: 8px 16px;
	background-color: #000;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 100%;
	z-index: 99;
}
.navbar__title {
	font-weight: 700;
	font-size: 24px;
	padding: 12px;
}
.navbar-item-link {
	color: #fff;
	font-weight: 600;
	align-items: center;
	gap: 8px;
	padding: 12px;
	margin: auto 20px;
}
.navbar-item-link:hover, .btn-hamburger:hover {
	background-color: #253760;
	border-radius: 6px;
}
.navbar__icons {
	width: 1.2em;
}
.navbar__title-white {
	color: #fff;
}
.btn-hamburger {
	border: 0;
	color: #fff;
	padding: 12px;
	background-color: transparent;
}
.navbar-menu {
	gap: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #000;
	width: 100%;
	left: -100%;
	top:65px;
	padding: 10px;
	transition: 0.1s;
	z-index: 98;
}
.show-navbar-menu {
	left: 0%;
}

/*
   ? Container
*/
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: auto;
	height: 100%;
	margin: 100px 32px;
}
.content {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 12px;
	width: auto;
	height: 100%;
}

/*
	? Footer
*/
#footer {
	margin-top: 32px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #000;
	position: relative;
}
.footer-signature {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #fff;
	font-size: 16px;
}

/*
    ? Image Upload Form
*/
.image-upload-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.image-upload__form {
	width: 350px;
	padding: 20px;
	background-color: #fff;
	box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
					3px 3px 7px rgba(94, 104, 121, 0.377);
}
.image-upload__form img {
	width: 100%;
	display: none;
	margin-bottom: 16px;
}
.image-upload__form input {
	display: none;
}
.image-upload__form label {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	text-align: center;
	background: #1172c2;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
.btn-scan {
	text-decoration: none;
	background-color: #0fc402;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
	height: 44px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	width: 100%;
	cursor: not-allowed;
}

/*
    ? Table
*/
.table-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	height: 100%;
	width: 350px;
	padding: 20px;
	box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
					3px 3px 7px rgba(94, 104, 121, 0.377);
	display: none;
}
thead tr {
	font-weight: 700;
	background-color: #acacac;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tbody tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/*
    ? TEST - Canvas Output
*/
#imageOutput {
	width: 100%;
}